* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: yellow;
}
.titulos {
  font-size: 30px;
  margin-bottom: 15px;
}
.secao {
  margin: 20px 20px 0 20px;
  padding: 20px;
}
.descricoes {
  border: 0.5px solid gray;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: justify;
}
.listas {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  margin: 20px;
  list-style: none;
}
.listas li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.listas li h2 {
  padding: 10px 0 10px 0;
  width: 30vw;
  background-color: white;
  border-radius: 10px 10px 0 0;
  border: 1px solid gray;
}
.listas li img {
  max-width: 30vw;
  border-radius: 0 0 10px 10px;
}
#topo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: yellow;
  background-color: black;
  padding: 30px;
}
#topo-titulo {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
#topo-conteudo {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
#topo-conteudo a {
  text-decoration: none;
  color: yellow;
  font-size: 20px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}
#topo-conteudo a:hover {
  color: white;
  background-color: gray;
  transition: 1s fade;
}

#voltar {
  font-size: 30px;
  text-decoration: none;
  color: red;
  text-align: center;
  margin: 20px;
  padding: 10px;
}
#voltar:hover {
  color: black;
  border-radius: 20px;
  background-color: white;
}

#dark-light-mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 10px;
  border: none;
  width: 40%;
}
#dark-light-mode img {
  width: 30px;
  height: 30px;
}

#github-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#conteudo {
  border-radius: 20px;
  background-color: white;
}
#conteudo p {
  margin: 20px 0;
  padding: 0 20px;
  width: 100%;
  text-align: end;
}
#conteudo p a {
  text-decoration: none;
}
#avatar {
  display: flex;
  flex-direction: column;
}
#avatar h2 {
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 5px 20px;
}
#avatar img {
  border-radius: 10px 10px 0 0;
}